footer {
  background-color: var(--color3);
  width: 100%;
  min-height: 130px;
  padding: 1.5rem 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer-left {
  color: var(--color2);
  width: 35%;
  font-size: clamp(0.65rem, 1vw, 0.85rem);
  line-height: 1.5;
}

.footer-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--color2);
  font-size: clamp(0.65rem, 1vw, 0.85rem);
}

.footer-right img {
  margin-bottom: 10px;
}