.navbar {
    background-color: var(--color1);
}

.container-fluid {
    margin: 0;
    padding: 0.3rem 2%;
}

.door-icon {
    display: flex;
    align-items: center;
    color: var(--color2);
}

.door-icon p {
    margin-right: 8px;
}

i {
    font-size: 2rem;
}